* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* utilities */

  :root{
    --bg-top:#009688;
    --bg-main:#d7dbd7;
    --bg-head-chat:#eaeaea;
    --icon-color:#b1b1b1;
    --bg-notification: #8edafc;
    --bg-white: white;
    --bg-msg-send: #d5f9ba;
}



.bapp_container {
  background-color: var(--bg-top);
  width: 100vw;
  height: 100vh;
  padding: 5vh 10vw ;
}
